<div class="content">
  <div appBlockUi class="card">
    <div class="card-header header-elements-inline">
      <h5 class="card-title">{{"List" |titlecase}} {{datatableName|titlecase}}</h5>
      <div class="header-elements">
        <div class="list-icons">
          <a class="list-icons-item" data-action="collapse"></a>
          <a class="list-icons-item" data-action="reload"></a>
          <a class="list-icons-item" data-action="remove"></a>
        </div>
      </div>
    </div>

    <div *ngIf="nbSearchFields>0">
      {{"SEARCH" }} :
      <ng-container *ngFor="let header of headers">
        <p *ngIf="searchFields[header.searchKey]&&searchFields[header.searchKey]!==''">
          {{header.title}} :
          {{searchFields[header.searchKey + '_between1'] && searchFields[header.searchKey + '_between2'] ?
            (searchFields[header.searchKey + '_between1']|date:'dd-MM-yyyy') + '->' + (searchFields[header.searchKey + '_between2']|date:'dd-MM-yyyy') :
            searchFields[header.searchKey]
          }}
          <button (click)="reset(header.isDate,header.sortKey)" nz-button
                  nzSize="small">{{"RESET"  }}</button>
        </p>
      </ng-container>
    </div>

    <!--<nz-list [nzDataSource]="logs" nzBordered [nzRenderItem]="defaultItem" [nzPagination]="pagination">
      <ng-template #defaultItem let-log>
        <nz-list-item>
          in {{ log.log_name }},
          at {{log.created_at}},
          {{log.description}}
          {{log.subject_id ? 'on ' + log.subject_type.split('\\')[1] + ' id ' + log.subject_id : null}}
          {{log.causer_id ? 'on ' + log.causer_type.split('\\')[1] + ' id ' + log.causer_id : null}}
        </nz-list-item>
      </ng-template>
    </nz-list>-->
    <div class="overflow-auto">

      <nz-table #basicTable [nzData]="dataToDisplay" [nzFrontPagination]="false" [nzLoading]="loading">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th *ngIf="hasDetails"></th>
          <th *ngFor="let header of headers;let i=index"
              [nzShowSort]="header.sortKey!==null" [nzSortKey]="header.sortKey"
              nzCustomFilter>{{header.title }}

            <i #searchIcon="nzDropdown"
               (click)="setSearch(i)"
               *ngIf="header.searchKey!==null"
               [class.ant-table-filter-open]="searchIcon.nzVisible"
               [nzClickHide]="true"
               [nzDropdownMenu]="header.isDate?dateDropDown:searchDropDown"
               class="ant-table-filter-icon"
               nz-dropdown
               nz-icon
               nz-th-extra
               nzPlacement="bottomRight"
               nzTableFilter
               nzTrigger="click"
               nzType="search"
            ></i>
          </th>
          <th
            *ngIf="(canDo(deletePermission)||(canEditThrowDatatable))">
            Actions
          </th>
        </tr>


        </thead>
        <tbody>
        <tr (click)="hasDetails?updateCheckBox(j,$event):null"
            (dblclick)="canEditThrowForm?navigateTo(createUpdateRoute(data[data.length-1])):null"
            *ngFor="let data of basicTable.data;let j=index"
            [class.cursor-pointer]="canEditThrowForm"
            [class.editable-row]="canEditThrowDatatable">
          <td (nzCheckedChange)="updateCheckBox(j)" *ngIf="hasDetails" [class.selected-td]="selectedLine===j"
              [nzChecked]="selectedLine===j"
              nzShowCheckbox></td>
          <ng-container *ngFor="let field of data;let l=last;let i=index">
            <td *ngIf="!l&&!headers[i].datatableEditKey" [class.selected-td]="selectedLine===j">
              {{field}}
            </td>
            <td *ngIf="!l&&headers[i].datatableEditKey" [class.selected-td]="selectedLine===j">
              <div *ngIf="!editCache[data[data.length-1]].edit; else editCode" class="editable-cell">
                <div class="editable-cell-value-wrap">
                  {{field}}
                </div>
              </div>
              <ng-template #editCode>
                <input [(ngModel)]="editCache[data[data.length-1]].data[headers[i].datatableEditKey]" nz-input
                       type="text"/>
              </ng-template>
            </td>

            <td *ngIf="l&&(canDo(deletePermission)||(canEditThrowDatatable))"
                [class.editable-row-operations]="canEditThrowDatatable"
                [class.selected-td]="selectedLine===j">
              <ng-container *ngIf="!editCache[data[data.length-1]].edit; else saveTpl">

                <a (click)="startEdit(data[data.length-1])" *ngIf="canEditThrowDatatable"
                   class="p-1 btn mr-2">
                  <i nz-icon nzTheme="outline" nzType="edit"></i>
                </a>
                <nz-divider
                  *ngIf="canEditThrowDatatable&&canDo(deletePermission)"
                  nzType="vertical"></nz-divider>
                <a (click)="deleteElement(field,$event)" *ngIf="canDo(deletePermission)" class="p-1 btn">
                  <i nz-icon nzTheme="outline" nzType="delete"></i>
                </a>
              </ng-container>
              <ng-template #saveTpl>
                <a (click)="saveEdit(data[data.length-1])" *ngIf="!compareObjects(data[data.length-1])" class="mr-2">
                  <i nz-icon nzTheme="outline" nzType="save"></i>
                </a>
                <a (click)="cancelEdit(data[data.length-1])" *ngIf="compareObjects(data[data.length-1])">
                  <i nz-icon nzTheme="outline" nzType="close"></i>
                </a>
                <a (nzOnConfirm)="cancelEdit(data[data.length-1])" *ngIf="!compareObjects(data[data.length-1])" nz-popconfirm
                   nzTitle="Sure to cancel?">
                  <i nz-icon nzTheme="outline" nzType="close"></i>
                </a>
              </ng-template>
            </td>
          </ng-container>
        </tr>
        </tbody>
      </nz-table>
    </div>

    <!--    <ng-container *ngFor="let header of headers">-->

    <nz-dropdown-menu #searchDropDown="nzDropdownMenu">
      <div class="search-box">
        <input [(ngModel)]="searchFields[searchKey]" nz-input placeholder="Search {{searchPlaceholder}}" type="text"/>
        <button (click)="search()" class="search-button" nz-button nzSize="small" nzType="primary">
          {{"SEARCH" }}
        </button>
        <button (click)="reset(false)" nz-button nzSize="small">{{"RESET" }}</button>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #dateDropDown="nzDropdownMenu">
      <div class="search-box">
        <nz-range-picker (ngModelChange)="rangeChange($event)" [(ngModel)]="searchFields[searchKey]"></nz-range-picker>
        <br>
        <button (click)="search()" class="search-button" nz-button nzSize="small" nzType="primary">
          {{"SEARCH" }}
        </button>
        <button (click)="reset(true)" nz-button nzSize="small">{{"RESET" }}</button>
      </div>
    </nz-dropdown-menu>
    <!--    </ng-container>-->
    <!--    <nz-dropdown-menu #searchDropDown="nzDropdownMenu" *ngIf="'abc'!==null">-->
    <!--      <div class="search-box">-->
    <!--        <input [(ngModel)]="searchFields['abc']" nz-input placeholder="Search name" type="text"/>-->
    <!--        <button (click)="search('abc')" class="search-button" nz-button nzSize="small" nzType="primary">-->
    <!--          {{"SEARCH" }}-->
    <!--        </button>-->
    <!--        <button (click)="reset('abc')" nz-button nzSize="small">{{"RESET" }}</button>-->
    <!--      </div>-->
    <!--    </nz-dropdown-menu>-->
    <!--    <nz-dropdown-menu #searchDescription="nzDropdownMenu">-->
    <!--      <div class="search-box">-->
    <!--        <input [(ngModel)]="searchFields['description']" nz-input placeholder="Search name" type="text"/>-->
    <!--        <button (click)="search('description')" class="search-button" nz-button nzSize="small" nzType="primary">-->
    <!--          {{"SEARCH" }}-->
    <!--        </button>-->
    <!--        <button (click)="reset('description')" nz-button nzSize="small">{{"RESET" }}</button>-->
    <!--      </div>-->
    <!--    </nz-dropdown-menu>-->

    <!--    <nz-dropdown-menu #searchUser="nzDropdownMenu">-->
    <!--      <div class="search-box">-->
    <!--        <input [(ngModel)]="searchFields['user@name']" nz-input placeholder="Search name" type="text"/>-->
    <!--        <button (click)="search('user@name')" class="search-button" nz-button nzSize="small" nzType="primary">-->
    <!--          {{"SEARCH" }}-->
    <!--        </button>-->
    <!--        <button (click)="reset('user@name')" nz-button nzSize="small">{{"RESET" }}</button>-->
    <!--      </div>-->
    <!--    </nz-dropdown-menu>-->

    <!--    <nz-dropdown-menu #searchDate="nzDropdownMenu">-->
    <!--      <div class="search-box">-->
    <!--        <input [(ngModel)]="searchFields['created_at']" nz-input placeholder="Search date" type="text"/>-->
    <!--        <button (click)="search('created_at')" class="search-button" nz-button nzSize="small" nzType="primary">-->
    <!--          {{"SEARCH" }}-->
    <!--        </button>-->
    <!--        <button (click)="reset('created_at')" nz-button nzSize="small">{{"RESET" }}</button>-->
    <!--      </div>-->
    <!--    </nz-dropdown-menu>-->

    <nz-pagination #pagination (nzPageIndexChange)="loadData($event)" [(nzPageIndex)]="pageIndex" [nzPageSize]="10"
                   [nzTotal]="nbElements"></nz-pagination>

  </div>
</div>
