<ng-container *ngIf="category">
  <div>
    <h3 class="m-b-0" style="font-size: 19px;">Produits : </h3>
    <ul>
      <li *ngFor="let product of category.products">
        <h3 class="m-b-0" style="font-size: 19px;">Nom : <strong class="text-primary" style="font-size: 15px"> {{product.name}}</strong></h3><br>
        <h3 class="m-b-0" style="font-size: 19px;">Prix min:  <strong class="text-primary" style="font-size: 15px"> {{product.price_min}}</strong></h3><br>
        <h3 class="m-b-0" style="font-size: 19px;">Prix Max : <strong class="text-primary" style="font-size: 15px"> {{product.price_max}}</strong></h3>

      </li>
    </ul>
  </div>
</ng-container>
