<ng-container *ngIf="order">
  <p>
    Client : {{order.client.first_name}} {{order.client.last_name}}<br>
    Address : {{order.client.client_details.address}}
    , {{order.client.city}} {{order.client.client_details.zip_code}}
  </p>
  <p>
    Livreur : {{order.delivery_man.first_name}} {{order.delivery_man.last_name}}<br>
  </p>

  <div>
    Details commande :
    <ul>
      <li>
        Min {{order.price_min}}
      </li>
      <li>
        Max {{order.price_max}}
      </li>
      <li>
        Produits
        <ul>
          <li *ngFor="let product of order.products">
            Produit : {{product.name}} <br>
            Quantité : {{product.pivot.quantity}}
          </li>
        </ul>
      </li>
    </ul>
  </div>

</ng-container>
