<!-- Input -->
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="header">
        <h2><strong>Produit</strong></h2>
      </div>
      <div class="body">
        <form (ngSubmit)="submitForm()" [formGroup]="productForm" enctype="multipart/form-data">
          <div class="row clearfix">
            <div class="col-md-6 col-12">
              <div class="form-group">
                <input class="form-control" formControlName="name" placeholder="Nom du produit" type="text"/>
              </div>
            </div>
          </div>

          <div class="row clearfix">
            <div class="col-md-6 col-12">
              <div class="form-group">
                <div class="form-line">
                  <textarea class="form-control no-resize" formControlName="description" placeholder="description"
                            rows="4"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-md-6 col-12">
              <div class="form-group">
                <input class="form-control" formControlName="price_min" min="0" placeholder="price_min" type="number"/>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-md-6 col-12">
              <div class="form-group">
                <input class="form-control" formControlName="price_max" min="0" placeholder="price_max" type="number"/>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-md-6 col-12">
              <div class="form-group">
                <input class="form-control" formControlName="max_quantity" min="0" placeholder="quantité maximale"
                       type="number"/>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12">
            <p> <b>Catégorie</b> </p>
            <select formControlName="category_id" class="form-control show-tick z-index" data-live-search="true">
              <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
          </div>

<!--          <div class="body">-->
<!--            <form action="http://www.wrraptheme.com/" id="frmFileUpload" class="dropzone dz-clickable" method="post" enctype="multipart/form-data">-->
<!--              <div class="dz-message">-->
<!--                <div class="drag-icon-cph"> <i class="material-icons">touch_app</i> </div>-->
<!--                <h3>Drop files here or click to upload.</h3>-->
<!--                <em>(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</em> </div>-->

<!--            </form>-->
<!--          </div>-->

          <br>
          <div class="input-group col-md-6" >
            <div class="custom-file">
              <input #imageInput (change)="processFile($event)" type="file" class="custom-file-input" id="inputGroupFile01"
                     accept="image/*" name="file" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Choisir une image</label>
            </div>
          </div>
          <br>
          <button class="btn btn-primary">Enregistrer</button>
        </form>
      </div>
    </div>
  </div>
</div>
