<!--<section class="content profile-page">-->

<!--<div class="col-lg-12 footer clearfix" style="bottom: 0px;">-->
<!--  <div class="card">-->
<!--    <div class="body row">-->
<!--      <div class="col-md-8"></div>-->
<!--      <p class="col-md-4" style="font-size: 12px">© 2020 Made with <span class="material-icons" style="font-size: 15px"> favorite </span> by <a href="https://www.linkedin.com/company/junior-entreprise-insat/?originalSubdomain=fr" target="black">Junior Entreprise INSAT</a>-->
<!--        <a class="navbar-brand" href="index.html"><img  src="assets/images/junior.png" width="30" alt="Compass"></a>-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</section>-->


<section class="content profile-page">
  <footer class="new_footer_area bg_color">
    <div class="footer_bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-sm-7">
            <p class="mb-0 f_400">© Junior Entreprise Insat 2020 All rights reserved.</p>
          </div>
          <div class="col-lg-6 col-sm-5 text-right">
            <p>Made with <span class="material-icons" style="font-size: 15px"> favorite </span> by <a href="https://www.linkedin.com/company/junior-entreprise-insat/?originalSubdomain=fr">Junior Entreprise Insat</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
