/* You can add global styles to this file, and also import other style files */

.clearfix > * {
  width: 100%;
}

.inner-content{
  margin-left: 250px;
}

@media (max-width: 1169px) {
  .inner-content{
    margin-left:0 ;
  }
}

.cursor-pointer{
  cursor: pointer;
}
