<!-- Left Sidebar -->
<aside class="sidebar" id="leftsidebar">
  <div class="menu">
    <ul class="list">
      <li>
        <div class="user-info">
          <div class="image"><a href="profile.html"><img alt="User" src="assets/images/profile_av.jpg"></a></div>
          <div class="detail">
            <h4>Michael</h4>
            <small>UI UX Designer</small>
          </div>
          <a href="events.html" title="Events"><i class="zmdi zmdi-calendar"></i></a>
          <a href="mail-inbox.html" title="Inbox"><i class="zmdi zmdi-email"></i></a>
          <a href="contact.html" title="Contact List"><i class="zmdi zmdi-account-box-phone"></i></a>
          <a href="chat.html" title="Chat App"><i class="zmdi zmdi-comments"></i></a>
          <a href="sign-in.html" title="Sign out"><i class="zmdi zmdi-power"></i></a>
        </div>
      </li>
      <li>
        <a class="menu-toggle" href="javascript:void(0);">
          <i class="zmdi zmdi-shopping-cart"></i>
          <span>Commandes</span>
        </a>
        <ul class="ml-menu">
          <li>
            <a routerLink="/order/passed">
              Commandes passées
            </a>
          </li>
          <li>
            <a routerLink="/order/confirmed">
              Commandes confirmées
            </a>
          </li>
          <li>
            <a routerLink="/order/shipping">
              Commandes en cours de livraison
            </a>
          </li>
          <li>
            <a routerLink="/order/shipped">
              Commandes livrées
            </a>
          </li>
          <li>
            <a routerLink="/order/canceled">
              Commandes annulées
            </a>
          </li>
          <li>
            <a routerLink="/order/pending">
              Commandes en attente
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu-toggle" href="javascript:void(0);">
          <i class="zmdi zmdi-shopping-cart"></i>
          <span>clients</span>
        </a>
        <ul class="ml-menu">
          <li>
            <a routerLink="/user/client">
              Liste clients
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu-toggle" href="javascript:void(0);">
          <i class="zmdi zmdi-shopping-cart"></i>
          <span>livreur</span>
        </a>
        <ul class="ml-menu">
          <li>
            <a routerLink="/user/delivery-man/form">
              Ajouter livreur
            </a>
            <a routerLink="/user/delivery-man">
              Liste livreur
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu-toggle" href="javascript:void(0);">
          <i class="zmdi zmdi-shopping-cart"></i>
          <span>admins</span>
        </a>
        <ul class="ml-menu">
          <li>
            <a routerLink="/user/admin/form">
              Ajouter admin
            </a>
            <a routerLink="/user/admin">
              Liste admins
            </a>
          </li>
        </ul>
      </li>
      <li><a class="menu-toggle" href="javascript:void(0);"><i class="zmdi zmdi-shopping-cart"></i><span>Profile</span>
      </a>
        <ul class="ml-menu">
          <li><a routerLink="/profile">Consulter profil</a></li>
        </ul>
      </li>
      <li><a class="menu-toggle" href="javascript:void(0);"><i class="zmdi zmdi-map"></i><span>Maps</span> </a>
        <ul class="ml-menu">
          <li><a href="google.html">Google Map</a></li>
          <li><a href="yandex.html">YandexMap</a></li>
          <li><a href="jvectormap.html">jVectorMap</a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
