<!-- Left Sidebar -->
<aside class="sidebar" id="leftsidebar">
  <div class="menu">
    <ul class="list">
      <li>
        <div class="user-info">
          <div class="image"><a routerLink="/profile"><img src="assets/images/profile_av.jpg" alt="User"></a></div>
          <div class="detail">
            <h4>{{this.currentUser?.first_name}}  {{this.currentUser?.last_name}}</h4>
            <small>{{this.currentUser?.email}}</small>
          </div>
          <a (click)="logout()" title="Sign out"><i class="zmdi zmdi-power"></i></a>
        </div>
      </li>
      <li>
        <a class="menu-toggle" >
          <i class="zmdi zmdi-shopping-cart"></i>
          <span>Commandes</span>
        </a>
        <ul class="ml-menu">
          <li>
            <a routerLink="/order/passed">
              Commandes passées
            </a>
          </li>
          <li>
            <a routerLink="/order/confirmed">
              Commandes confirmées
            </a>
          </li>
          <li>
            <a routerLink="/order/shipping">
              Commandes en cours de livraison
            </a>
          </li>
          <li>
            <a routerLink="/order/shipped">
              Commandes livrées
            </a>
          </li>
          <li>
            <a routerLink="/order/canceled">
              Commandes annulées
            </a>
          </li>
          <li>
            <a routerLink="/order/pending">
              Commandes en attente
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu-toggle" >
          <i class="zmdi zmdi-shopping-cart"></i>
          <span>clients</span>
        </a>
        <ul class="ml-menu">
          <li>
            <a routerLink="/user/client">Liste clients
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu-toggle" >
          <i class="zmdi zmdi-shopping-cart"></i>
          <span>livreur</span>
        </a>
        <ul class="ml-menu">
          <li>
            <a routerLink="/user/delivery-man/form">
              Ajouter livreur
            </a>
            <a routerLink="/user/delivery-man">
              Liste livreur
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu-toggle" >
          <i class="zmdi zmdi-shopping-cart"></i>
          <span>admins</span>
        </a>
        <ul class="ml-menu">
          <li>
            <a routerLink="/user/admin/form">
              Ajouter admin
            </a>
            <a routerLink="/user/admin">
              Liste admins
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu-toggle" >
          <i class="zmdi zmdi-shopping-cart"></i>
          <span>category</span>
        </a>
        <ul class="ml-menu">
          <li>
            <a routerLink="/category/form">
              Ajouter categorie
            </a>
            <a routerLink="/category">
              Liste categori
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu-toggle" >
          <i class="zmdi zmdi-shopping-cart"></i>
          <span>product</span>
        </a>
        <ul class="ml-menu">
          <li>
            <a routerLink="/product/form">
              Ajouter product
            </a>
            <a routerLink="/product">
              Liste product
            </a>
          </li>
        </ul>
      </li>
<!--      <li><a class="menu-toggle" ><i class="zmdi zmdi-shopping-cart"></i><span>Profile</span>-->
<!--      </a>-->
<!--        <ul class="ml-menu">-->
<!--          <li><a routerLink="/profile">Consulter profil</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li><a class="menu-toggle" ><i class="zmdi zmdi-map"></i><span>Maps</span> </a>-->
<!--        <ul class="ml-menu">-->
<!--          <li><a href="google.html">Google Map</a></li>-->
<!--          <li><a href="yandex.html">YandexMap</a></li>-->
<!--          <li><a href="jvectormap.html">jVectorMap</a></li>-->
<!--        </ul>-->
<!--      </li>-->
    </ul>
  </div>
</aside>
